#tetrjs {
    padding-left: 0;
    padding-right: 0;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid #FFFFFF;
}

#logo{
	top: -275px;
	position: relative;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#score, #highScore, #score1{
	color: #FFFFFF;
	font-family: sans-serif;
	text-align: center;
	font-size: 2em;
}
